// EBGaramond  400      500     600       700   800
$weight-array: Regular, Medium, SemiBold, Bold, ExtraBold;
@for $i from 1 through length($weight-array) {
  $weight: nth($weight-array, $i);
  @font-face {
    font-family: EBGaramond;
    src: url("../fonts/EBGaramond/EBGaramond-#{$weight}.ttf");
    font-weight: 100 * ($i + 3);
  }
  @font-face {
    font-family: EBGaramond;
    src: url("../fonts/EBGaramond/EBGaramond-#{$weight}Italic.ttf");
    font-style: italic;
    font-weight: 100 * ($i + 3);
  }
}

// Ysabeau YsabeauInfant 100 -> 900
$weight-array: Hairline, Thin, ExtraLight, Light, SemiLight, Regular, Medium,
  SemiBold, Bold;
@each $font in "Ysabeau", "YsabeauInfant" {
  @for $i from 1 through length($weight-array) {
    $weight: nth($weight-array, $i);
    @font-face {
      font-family: #{$font};
      src: url("../fonts/#{$font}/#{$font}-#{$weight}.otf");
      font-weight: 100 * $i;
    }
    @font-face {
      font-family: #{$font};
      src: url("../fonts/#{$font}/#{$font}-#{$weight}Italic.otf");
      font-style: italic;
      font-weight: 100 * $i;
    }
  }
}

// Operator
$weight-array: XLight, Light, Book, Medium, Bold;
$number-array: 100, 200, 400, 700, 900;
@for $i from 1 through length($weight-array) {
  $weight: nth($weight-array, $i);
  $number: nth($number-array, $i);
  @font-face {
    font-family: Operator;
    src: url("../fonts/Operator/OperatorMono-#{$weight}.otf");
    font-weight: #{$number};
  }
  @font-face {
    font-family: Operator;
    src: url("../fonts/Operator/OperatorMono-#{$weight}Italic.otf");
    font-style: italic;
    font-weight: #{$number};
  }
}

// 霞骛文楷     100    400      700
$weight-array: Light, Regular, Bold;
@for $i from 1 through length($weight-array) {
  $weight: nth($weight-array, $i);
  @font-face {
    font-family: LXGWWenKai;
    src: url("../fonts/lxgw-wenkai-lite-v1.234.5/LXGWWenKaiLite-#{$weight}.ttf");
    font-weight: 100 * (3 * $i - 2);
  }
}

// 思源黑体
$weight-array: Thin, Light, Regular, Medium, Bold, "Black";
$number-array: 100, 200, 400, 500, 700, 900;
@for $i from 1 through length($weight-array) {
  $weight: nth($weight-array, $i);
  $number: nth($number-array, $i);
  @font-face {
    font-family: NotoSansSC;
    src: url("../fonts/NotoSansSC/NotoSansSC-#{$weight}.otf");
    font-weight: #{$number};
  }
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: Ysabeau, LXGWWenKai, "Noto Sans SC", NotoSansSC;
  font-weight: 700;
}

.reveal h1 {
  font-family: Ysabeau, "Noto Sans SC", NotoSansSC;
  font-size: 2.2em;
}

.reveal h2 {
  font-size: 1.6em;
}

.reveal h3 {
  font-size: 1em;
}

.reveal h4 {
  font-size: 0.8em;
}

.reveal h5 {
  font-family: Ysabeau, "Noto Sans SC", NotoSansSC;
  font-size: 1.2em;
  font-weight: 700;
}

.reveal p {
  font-family: Ysabeau, "LXGW WenKai", LXGWWenKai;
  font-size: 0.8em;
  font-weight: 700;
}

.reveal ul > li {
  font-family: Ysabeau, "LXGW WenKai", LXGWWenKai;
  font-size: 0.7em;
  font-weight: 700;
}

.reveal ol > li {
  font-family: Ysabeau, "LXGW WenKai", LXGWWenKai;
  font-size: 0.65em;
  font-weight: 700;
}

.reveal pre {
  font-family: Operator, "LXGW WenKai", LXGWWenKai;
  font-size: 1.2rem;
  font-weight: 700;
}

.MathJax .mtext span {
  font-family: Ysabeau, "LXGW WenKai", LXGWWenKai !important;
  font-weight: 700 !important;
}

.reveal table,
.reveal a {
  font-family: Ysabeau, "LXGW WenKai", LXGWWenKai;
}

.reveal table {
  font-family: Ysabeau, "LXGW WenKai", LXGWWenKai;
  th,
  td {
    font-size: 1.4rem;
    font-weight: 700;
  }
}

@for $i from 1 to 50 {
  .reveal .fs#{$i} {
    th,
    td {
      font-size: 0.1rem * $i;
    }
    .MathJax_Display {
      font-size: 0.1rem * $i !important;
    }
    font-size: 0.1rem * $i;
  }
}
