// EBGaramond
@font-face {
  font-family: EBGaramond;
  src: url("../fonts/EBGaramond/EBGaramond-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: EBGaramond;
  src: url("../fonts/EBGaramond/EBGaramond-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: EBGaramond;
  src: url("../fonts/EBGaramond/EBGaramond-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: EBGaramond;
  src: url("../fonts/EBGaramond/EBGaramond-MediumItalic.ttf");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: EBGaramond;
  src: url("../fonts/EBGaramond/EBGaramond-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: EBGaramond;
  src: url("../fonts/EBGaramond/EBGaramond-SemiBoldItalic.ttf");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: EBGaramond;
  src: url("../fonts/EBGaramond/EBGaramond-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: EBGaramond;
  src: url("../fonts/EBGaramond/EBGaramond-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: EBGaramond;
  src: url("../fonts/EBGaramond/EBGaramond-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: EBGaramond;
  src: url("../fonts/EBGaramond/EBGaramond-ExtraBoldItalic.ttf");
  font-style: italic;
  font-weight: 800;
}

// Operator
@font-face {
  font-family: Operator;
  src: url("../fonts/Operator/OperatorMono-XLight.otf");
  font-weight: 100;
}

@font-face {
  font-family: Operator;
  src: url("../fonts/Operator/OperatorMono-XLightItalic.otf");
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: Operator;
  src: url("../fonts/Operator/OperatorMono-Light.otf");
  font-weight: 200;
}

@font-face {
  font-family: Operator;
  src: url("../fonts/Operator/OperatorMono-LightItalic.otf");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: Operator;
  src: url("../fonts/Operator/OperatorMono-Book.otf");
  font-weight: 400;
}

@font-face {
  font-family: Operator;
  src: url("../fonts/Operator/OperatorMono-BookItalic.otf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Operator;
  src: url("../fonts/Operator/OperatorMono-Medium.otf");
  font-weight: 700;
}

@font-face {
  font-family: Operator;
  src: url("../fonts/Operator/OperatorMono-MediumItalic.otf");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: Operator;
  src: url("../fonts/Operator/OperatorMono-Bold.otf");
  font-weight: 900;
}

@font-face {
  font-family: Operator;
  src: url("../fonts/Operator/OperatorMono-BoldItalic.otf");
  font-style: italic;
  font-weight: 900;
}

// 霞骛文楷
@font-face {
  font-family: Operator;
  src: url("../fonts/Operator/OperatorMono-Bold.otf");
  font-weight: 900;
}

@font-face {
  font-family: Operator;
  src: url("../fonts/Operator/OperatorMono-BoldItalic.otf");
  font-style: italic;
  font-weight: 900;
}


.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
.reveal p {
  font-family: EBGaramond, LXGW, fzlz, fzht;
  font-weight: normal;
}

.reveal h1 {
  font-family: EBGaramond, fzht;
}

.reveal h2 {
  font-family: EBGaramond, fzht;
}

.reveal h5 {
  font-family: EBGaramond, fzht;
}

.reveal pre {
  font-family: Operator, LXGW;
}
